language: ruby

rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
  - ree

matrix:
  allow_failures:
    - rvm: rbx-18mode
    - rvm: rbx-19mode

before_script:
  - "psql -c 'create database pg_search_test;' -U postgres >/dev/null"

script: "bundle exec rspec spec"
